<ActionBar title="Events" class="action-bar"></ActionBar>

<StackLayout class="page">
    <StackLayout class="home-panel">
        <ListView height="2000" [items]="items" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
				<StackLayout [nsRouterLink]="['/event/']">
					<StackLayout class="item">
						<StackLayout class="spacer" height="5"></StackLayout>
						<Image src="{{ item.photo }}" stretch="aspectFit" height="100" class="centered"></Image>
						<StackLayout padding="10">
							<Label text="{{ item.title }}" textWrap="true"></Label>
							<Label text="{{ item.date }}" textWrap="true"></Label>
							<Label text="{{ item.place }}" textWrap="true"></Label>
							<Button text="Bookmark" class="right" [nsRouterLink]="['/event/${item.id}']"></Button>
						</StackLayout>
					</StackLayout>
					<StackLayout class="spacer" height="20"></StackLayout>
				</StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</StackLayout>